<h1>网站基本信息</h1>

<ul>
  <% @cpanel_site_configs.each do |cpanel_site_config| %>
    <li>
      <%= cpanel_site_config.value %>
      | <%= link_to '编辑', edit_cpanel_site_config_path(cpanel_site_config) %>
    </li>
  <% end %>
</ul>