<div class="submenu">
  <ul>
    <li><a href="/about">企业形象</a></li>
    <li class="current"><a href="/corpnews">企业新闻</a></li>
    <li><a href="/join">在线招聘</a></li>
  </ul>
</div>
<div class="content txt_h">
  <div>
    <p>In Front News.</p>
  </div>
  <div>
    <% @news.each do |news| %>
      <%= news.title %>
      <%= news.content %>
      <%= news.image_url %>
    <% end %>
  </div>
</div>