html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
*{
    font-family: "微软雅黑";
    color: #EEE;
    text-decoration: none;
}
body{
  background: url('/img/cpbg_1440.jpg');
  background-size:100%;
  background-attachment: fixed;
}
a:hover{
  color:brown;
}
form input{
  color:#333;
}
h1{font-size: 150%}
h2{font-size: 125%}
.container{
  width:1000px;
  height:auto;
  min-height:600px;
  overflow: hidden;
  margin:0 auto;
}

.cpanel-header{
  height: 145px;
  width:100%;
  position: relative;
  padding:5px;
}

.brivates-logo{
  background:url('/img/logo.png');
  width: 145px;
  height:145px;
  background-size: 100%;
  float: left;
}

.cpanel-title-text{
  width: calc(100% - 150px);
  height: 100%;
  float: left;
}
.cpanel-title-text h2{
  line-height: 55px;
  margin:35px 0 35px 35px;
  font-size: 50px;
  float: left;
}

.cpanel-body{
  width: 100%;
  height: auto;
  color: #EEE;
  overflow: hidden;
}
.cpanel-body-left{
  float: left;
  width: 150px;
  height:auto;
  min-height:500px;
  background: rgba(135, 160, 16, 0.53);
  border-radius: 5px;
  padding:10px 5px 10px 5px;
}
.cpanel-menu ul{
  margin:0;
  padding:0;
}
.cpanel-menu ul li{
  width: calc(100% - 10px);
  height:45px;
  line-height: 45px;
  font-size: 12pt;
  font-weight: bold;
  padding-left: 10px;
  background:#b5d10f;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.cpanel-menu ul li:first-child{
  border-radius: 5px 5px 0 0;
}
.cpanel-menu ul li:last-child{
  border-radius:  0 0 5px 5px;
}
.cpanel-menu ul li:hover,.cpanel-menu ul li.current:hover{
  background-color:#85910b;
}

.cpanel-menu ul li.current{
  background-color:#a0b90d;
}

.cpanel-menu ul li a{
  display: block;
  width: 100%;
  color: #EEE;
}
.cpanel-body-right{
  width: calc( 100% - 185px);
  float: left;
  background: rgba(135, 160, 16, 0.53);
  border-radius: 5px;
  margin-left: 5px;
  min-height:500px;
  padding:10px;
}

.cpanel-footer{
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: #448;
  font-size: 12px;
  text-align: center;
}

.dashboard-item{
  width: 32%;
  height: 180px;
  margin: 0 1% 10px 0;
  float: left;
  border:1px solid #EFE;
  border-radius: 5px;
  font-size: 14pt;
  text-align: center;
  line-height: 170px;
  transition: all .25s ease;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  -moz-transition: all .25s ease;
}
.dashboard-item:hover{
  box-shadow: 1px 1px 20px #ddd;
}
.item-content{
  margin:auto;
  width:220px;
  position: relative;
  z-index:10;
  font-size: 125%;
}
.item-detail{
  position:absolute;
  min-width: 80%;
  bottom:0;
  left:0;
  font-size: 80%;
  line-height: 25px;
  text-align: left;
  padding:5px;
  border-radius: 5px;
  background:#673;
  opacity:0;
  filter: alpha(opacity=0); /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
  transition:all .3s ease;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
}
.item-content:hover span.item-detail{
  opacity: 1;
  filter: alpha(opacity=99); /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.item-content a{
  display: block;
  width: 100%;
}

.listing ul{
  margin:0 10px;
  padding:0;
}
.listing ul li{
  line-height: 30px;
  height: 30px;
  width:380px;
  border: #fff solid;
  border-width: 0px 0px 1px 0px;
}
.listing .list-title{
  width:200px;
  overflow:hidden;
  float:left;
  margin-right: 20px;
}
.listing .list-action{
  width:50px;
  float:left;
  margin-left: 10px;
  display: block;
}

.submitbtn{
  padding:6px;
  border-radius: 8px;
  color: #573;
  width:65px;
  background: #eee;
  display: block;
}