  .tabs{
    float:left;
    height:auto;
    overflow:hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
  }
  .tabs [id^="content"]{
    display: none;
  }
  ul [id^="label"]{
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 150%;
    height: 45px;
    line-height: 45px;
  }