<style type="text/css">
  .tabs{
    width:calc( 100% - 200px);
    float:left;
    height:auto;
    overflow:hidden;
    z-index: 10;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
  }
  .tabs [id^="content"]{
    display: none;
  }
  ul [id^="label"]{
    cursor: pointer;
  }

</style>
<div class="content txt_h">
  <h2>招商加盟</h2>
  <hr />
  <div style="width:200px;font-size:1.3em;float:left;text-align:center">
    <ul>
      <li id="label1">
        加盟优势
      </li>
      <li id="label2">
        加盟政策
      </li>
      <li id="label3">
        加盟申请
      </li>
    </ul>
  </div>
  <div class="tabs">
    <div id="content1" class="tabcontent" style="display:block">
      可以依托特许总部强大的品牌美誉、资源实力平台和有力的后续支持，以及完善成熟的特许加盟系统，来帮助加盟企业快速的步入经营正轨，并通过总部持续不断的后续支持与服务，帮助加盟企业保持强大的市场竞争力和旺盛的生命力。　
     经过多年的发展及不断的创新，东易日盛已经总结出了一套属于自己的、比较完备的加盟系统运营支持体系。为加盟企业从前期选址到开业筹备直至日后的正常运营提供完备而全面的支持和整体解决方案，形成了三位一体的支持体系，包括：资料体系、培训体系、销售支持体系。
资料体系　
     为了协助加盟企业迅速吸收东易日盛优秀的管理的经验和管理模式，提升加盟企业的运营能力，支持加盟企业发展和管理升级，特建立资料支持体系。资料涵盖：东易日盛管理、研发、设计、营销等与加盟企业经营直接相关的技术资料和管理资料，包括书面印刷版资料支持和电子版资料支持。为了规范加盟企业资料使用，协助加盟企业更加迅速有效地找到所需资料，系统服务部对资料进行系统管理和及时更新。对于新加盟企业开业前期我们将提供管理手册：《店面管理实战手册》、《总经理手册》，《人力资源管理手册》、《工程手册》、《客户服务手册》、《营销手册》、《设计手册》等。系统支持光盘7张DVD，设计作品《观言》图册，《完整家居规范图纸样本》，《观典》设计案例集，《特许加盟系统行为管理规范手册》，以及《营销汇编》、《东易饰家》、报纸《东易传播》等。
培训体系　
     东易日盛特许系统的培训体系旨在以特许经营中心为中枢，在系统内部建立起一个系统的、与系统持续发展和人力资源战略相配套的机制。它以“培训要素”为基础，包括培训信息数据库、培训需求分析、培训管理体系、培训课程体系、培训实施体系、培训评估体系等五大模块。该体系依托东易日盛集团这一实力雄厚的平台，通过充分挖掘和调配集团和系统内部的培训资源，使用科学时效的培训管理和实施手段，使得培训能够为系统持续健康快速发展提供技术支持。加盟企业进入特许体系后，会参加人力培训中心组织的各种视频培训和管理峰会、设计师峰会、营销训练营等，及加盟企业总部实习。 全年专业培训计划 A 高层总经理培训（峰会） B 中层管理人员培训 4类： （人力、营销、工程、店面管理） C 基层员工培训 8类： （设计师、系统培训、产品体系、新材料新工艺 、 公共课程、商务礼仪、客户经理、客户服务）
实习平台　
      为了让加盟企业员工感受东易日盛的企业文化，了解东易日盛运营管理体系，与集团战略保持高度一致，更快地进入岗位角色，为加盟企业持续发展助力，我们特建立实习培训模式。适用范围：新加盟企业和老加盟企业。新加盟企业实习侧重对集团总部进行全面的体验和认知，实习费全免。老加盟企业侧重于专业角度的深入挖掘。包括核心梯队人员、中层管理人员（品推经理、设计经理、店面经理等）、关键员工（设计师、客户经理等）等岗位员工到集团总部相关部门相应岗位进行短期学习、实践。实习作为人力培训部培训工作的延伸和有效补充，是加盟企业员工迅速提升岗位技能，提高加盟企业运营水平的重要途径。
    </div>

    <div id="content2" class="tabcontent">
      加盟政策内容<br>

      你的就是我的<br>
      我的还是我的<br>
    </div>

    <div id="content3" class="tabcontent">
      加盟申请内容
      <%= render 'form' %> 
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("li").click(function(){
      // alert('what');
      var idno = "#content" + $(this).attr('id').substr($(this).length-2,$(this).length);
      // alert(idno);
      $("div[id^='content']").hide();
      $(idno).fadeIn();
    });
  });
</script>
<!--   <h1>加盟优势</h1>
  <div>
    加盟优势加盟优势加盟优势加盟优势加盟优势
    <%= @affiliate_advantage.html_safe %>
  </div>
  <br>
  <h1>加盟政策</h1>
  <div>
    加盟政策加盟政策加盟政策加盟政策加盟政策加盟政策
    <%= @affiliate_policy.html_safe %>
  </div>
  <br>

  <h1>加盟申请</h1>
  <%= render 'form' %> -->