<style type="text/css">
@import url('/css/tabbing.css');
</style>
<div class="content txt_h">
  <h2>招商加盟</h2>
  <hr />
  <div class="col-left-2">
    <ul>
      <li id="label1">
        加盟优势
      </li>
      <li id="label2">
        加盟政策
      </li>
      <li id="label3">
        加盟申请
      </li>
    </ul>
  </div>
  <div class="tabs col-left-8">
    <div id="content1" class="tabcontent" style="display:block">
      可以依托特许总部强大的品牌美誉、资源实力平台和有力的后续支持，以及完善成熟的特许加盟系统，来帮助加盟企业快速的步入经营正轨，并通过总部持续不断的后续支持与服务，帮助加盟企业保持强大的市场竞争力和旺盛的生命力。　
     经过多年的发展及不断的创新，东易日盛已经总结出了一套属于自己的、比较完备的加盟系统运营支持体系。为加盟企业从前期选址到开业筹备直至日后的正常运营提供完备而全面的支持和整体解决方案，形成了三位一体的支持体系，包括：资料体系、培训体系、销售支持体系。<br>
     资料体系　
     为了协助加盟企业迅速吸收东易日盛优秀的管理的经验和管理模式，提升加盟企业的运营能力，支持加盟企业发展和管理升级，特建立资料支持体系。资料涵盖：东易日盛管理、研发、设计、营销等与加盟企业经营直接相关的技术资料和管理资料，包括书面印刷版资料支持和电子版资料支持。为了规范加盟企业资料使用，协助加盟企业更加迅速有效地找到所需资料，系统服务部对资料进行系统管理和及时更新。对于新加盟企业开业前期我们将提供管理手册：《店面管理实战手册》、《总经理手册》，《人力资源管理手册》、《工程手册》、《客户服务手册》、《营销手册》、《设计手册》等。系统支持光盘7张DVD，设计作品《观言》图册，《完整家居规范图纸样本》，《观典》设计案例集，《特许加盟系统行为管理规范手册》，以及《营销汇编》、《东易饰家》、报纸《东易传播》等。
    </div>

    <div id="content2" class="tabcontent">
      加盟政策内容<br>

      你的就是我的<br>
      我的还是我的<br>
    </div>

    <div id="content3" class="tabcontent">
      <%= render 'form' %> 
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/tabbing.js"></script>