<h1>加盟优势</h1>
<div>
  加盟优势加盟优势加盟优势加盟优势加盟优势
  <%= @affiliate_advantage.html_safe %>
</div>
<br>
<h1>加盟政策</h1>
<div>
  加盟政策加盟政策加盟政策加盟政策加盟政策加盟政策
  <%= @affiliate_policy.html_safe %>
</div>
<br>

<h1>加盟申请</h1>
<%= render 'form' %>

