<div class="content txt_h">
  <h2>招商加盟</h2>
  <hr>
  <h2 style="text-align:center">感谢您提交加盟申请！</h2>
  <br>
  <p style="font-size:125%;text-align:center">您的加盟申请已经收到，我们会尽快与您联络。<br>
  谢谢您！</p>

  <div class="btn">
    <a href="#" onclick="window.history.go(-1);return false;">返回</a>
  </div>
</div>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @affiliate.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @affiliate.content %>
</p> -->

<%#= link_to 'Edit', edit_affiliate_path(@affiliate) %> |
<%#= link_to 'Back', affiliates_path %>
