<ul>
  <li id="label1">企业形象</li>
  <li id="label2">企业新闻</li>
  <li id="label3">招聘信息</li>
</ul>

<div id="content1">
  <p>about title</p>
  <%= form_for([:cpanel, @cpanel_site_about], method: :put, url: cpanel_site_configs_path) do |f| %>
    <div class="field">
      <%= f.label :value %><br>
      <%= f.text_area  :value, cols: 50, rows: 10 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div id="content2"></div>

<div id="content3"></div>