<div class="content txt_h">
  <h2>申请职位</h2>
  <div class="contact-form">
    <%= render 'form' %>

    </div>
      <div class="btn btn-default">
    <a href="#" onclick="window.history.go(-1);return false;">返回上一页</a>
  </div>
</div>