<div class="content txt_h">
<p id="notice"><%= notice %></p>
<h2>在线申请</h2>
<hr>
<h3>
  您的简历已经发送给我们的人力部门，应聘职位:
  <%= @resume.position.title %>
</h3>
<p style="font-size:125%">如果需要与您进行面试，我们会第一时间与您取得联系。<br>谢谢！</p>
<div class="btn">
    <a href="#" onclick="window.location=('/positions');return false;">返回</a>
  </div>
<!-- <p>
  <strong>Title:</strong>
  <%#= @resume.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @resume.content %>
</p>

<p>
  <strong>File:</strong>
  <%#= link_to 'Download', @resume.avatar.url %>
</p> -->
</div>