<div class="content txt_h">
<p id="notice"><%= notice %></p>
<h2>在线申请</h2>
<hr>
<div>
  <%= @resume_string.html_safe %>
</div>
<div class="btn">
    <a href="#" onclick="window.location=('/positions');return false;">返回</a>
  </div>

</div>