<ul class="brivates-vmenu">
  <li><a id="cpanelHome" href="/cpanel" class="">控制台首页</a></li>
  <li><a id="cpanelSiteConfigs" href="/cpanel/site_configs" class="">设置网站基本信息</a></li>
  <li><a id="cpanelSlides" href="/cpanel/slides" class="">设置图片轮播</a></li>
  <li><a id="cpanelNews" href="/cpanel/news">编辑企业新闻</a></li>
  <li><a id="cpanelProducts" href="/cpanel/products" class="">产品管理</a></li>
  <li><a id="cpanelPositions" href="/cpanel/positions">在线招聘管理</a></li>
</ul>
<script src="/js/addmenuclass.js"></script>