<div class="header1">
  <div class="navbar1">
    <div class="logo1">
      <a href="/"><img src="/img/logo.png" title="Home" alt="Brivates"> </a>
    </div>
    <ul style="display:none" class="dropdown">
      <li style="border-radius:5px 5px 0 0"><a href="/about">美丽咨讯</a></li>
      <li><a href="/products">产品体系</a></li>
      <li><a href="/affiliates">招商加盟</a></li>
      <li style="border-radius:0 0 5px 5px"><a href="/contact">财富连线</a></li>
    </ul>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.navbar1').hover(function(){
    $('.dropdown').slideToggle(150);
  });
});
</script>