<div class="header">
  <div class="navbar">
    <ul class="nav">
      <li><a href="/about">美丽咨询</a></li>
      <li><a href="/products">产品体系</a></li>
      <li>
        <a href="">
          <div class="logo">
            <a href="/"><img src="/img/logo.png" title="logo" alt=""> </a>
          </div>
        </a>
      </li>   
      <li><a href="/affiliates">招商加盟</a></li>
      <li><a href="/contact">财富连线</a></li>
    </ul>
  </div>
</div>