<!-- <div class="header1">
  <div class="navbar1">
    <div class="logo1">
      <a href="/"><img src="/img/brivateslogo.png" title="Home" alt="Brivates"> </a>
    </div>
    <ul style="display:none" class="dropdown">
      <li style="border-radius:5px 5px 0 0"><a href="/about">美丽咨询</a></li>
      <li>产品体系</li>
      <li>招商加盟</li>
      <li style="border-radius:0 0 5px 5px">财富连线</li>
    </ul>
  </div>
</div> -->
<script>
$(function(){
  $('.navbar1').hover(function(){
    $('.dropdown').slideToggle();
  });
});
</script>