<style type="text/css">
  @import url("/css/slider.css");
</style>
<div class="body">
  <div class="flexslider">
    <ul class="slides">
      <% @slides.each do |slide| %>
        <li style="background:url('<%= slide.image_url %>') 50% 0 no-repeat;">
          <div><h2><%= slide.title %></h2></div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script src="/js/jquery.flexslider-min.js"></script>
<script>
$(function(){
  $('.flexslider').flexslider({
    directionNav: true,
    pauseOnAction: false
  });
});
</script>