<style type="text/css">
  @import url("/css/slider.css");
</style>
<div class="flexslider">
  <ul class="slides">
    <li style="background:url('http://necessaryoils.net/wp-content/uploads/2013/02/spa05.jpg') 50% 0 no-repeat;"></li>
    <li style="background:url('http://www.miyakoinn.com/bpimages/headers/header_spa.jpg') 50% 0 no-repeat;"></li>
    <li style="background:url('http://www.spazeeba.com/images/SPA_Elements_SPA_pictures_FAN2004104.jpg') 50% 0 no-repeat;"></li>
    <li style="background:url('http://5sensespain.es/wp-content/uploads/2013/05/Balneario-SPA-8.jpg') 50% 0 no-repeat;"></li>
    <li style="background:url('http://pheasantrun.com/images/new_spa_3.jpg') 50% 0 no-repeat;"></li>
  </ul>
</div>

<script src="/js/jquery.flexslider-min.js"></script>
<script>
$(function(){
  $('.flexslider').flexslider({
    directionNav: true,
    pauseOnAction: false
  });
});
</script>