<h1>编辑企业新闻</h1>
<hr>
<div class="listing">
  <div style="width:300px">
    <h2>企业新闻列表</h2>
  </div>
  <ul style="list-style:none">
    <% @news.each do |news| %>
    <li>
      <div class="list-title">
        <%= news.title %>
      </div>
      <div class="list-action">
        <%= link_to '编辑', edit_cpanel_news_path(news) %>
      </div>
      <div class="list-action">
        <%= link_to '删除', cpanel_news_path(news), method: :delete, data: { confirm: '确定要删除这条新闻吗？' } %>
      </div>
    </li>
    <% end %>
  </ul>
  <div style="height:35px;line-height:35px;">
    <%= link_to '添加新闻', new_cpanel_news_path %>
  </div>
</div>