<!DOCTYPE HTML>
<html>
<head>
<title>Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.useso.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrap">
<div class="header">
	<div class="logo1">
	  	  <a href="index.html"><img src="images/logo.png" title="logo" alt=""> </a>
	 </div>
</div>
<div class="content txt_h">
		<div class="blog">
			<div class="box1">
			    <h2><a href="single.html">Making it look like readable English. Many desktop publishing</a></h2>
			    <span>By Kieth Deviec- 2 hours ago</span>
				<div class="box1_img">
				    <img src="images/img1.jpg" alt="">
				</div>   
				<div class="data">
					<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
				    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
				   <div class="btn">
					<a href="details.html">Read More</a>
				</div>
				</div>
			<div class="clear"></div>
			</div>
		<div class="box1 top">
		    <h2><a href="single.html">Making it look like readable English. Many desktop publishing</a></h2>
		    <span>By Fred G.Meyer- 10 hours ago</span>
			<div class="box1_img">
			    <img src="images/img2.jpg" alt="">
			</div>
			<div class="data">
			     <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
			     <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
			     
			    <div class="btn">
					<a href="details.html">Read More</a>
				</div>
			</div>
		<div class="clear"></div>
		</div>
		</div>
	<div class="clear"></div>
</div>
<div class="f_main">
<div class="f_btm">
<div class="footer">
	<p class="w3-link"><span>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span></p>
</div>
<div class="f-icons">
	<nav>
		<ul>
			<li><a href="#">Get In Touch</a></li>
			<li><a href="#"><img src="images/fb.png" title="facebook" alt=""></a></li>
			<li><a href="#"><img src="images/twitter.png" title="twitter" alt=""></a></li>
			<li><a href="#"><img src="images/feed.png" title="feed" alt=""></a></li>
			<li><a href="#"><img src="images/plus.png" title="pinterest" alt=""></a></li>
			<div class="clear"></div>
		</ul>
	</nav>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>