<!DOCTYPE HTML>
<html>
<head>
<title>Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.useso.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrap">
<div class="header">
	<div class="logo1">
	  	  <a href="index.html"><img src="images/logo.png" title="logo" alt=""> </a>
	 </div>
</div>
<div class="content">
	<div class="txt_h">
		<h2>Spa Saloon</h2>
	</div>
	<div class="main">
	<section>
		<ul class="lb-album">
			<li>
				<a href="#image-1">
					<img src="images/thumbs/1.jpg" alt="image01">
					<span>Pointe</span>
				</a>
				<div class="lb-overlay" id="image-1">
					<a href="#page" class="lb-close">x Close</a>
					<img src="images/full/1.jpg" alt="image01" />
				</div>
			</li>
			<li>
				<a href="#image-2">
					<img src="images/thumbs/2.jpg" alt="image02">
					<span>Port de bras</span>
				</a>
				<div class="lb-overlay" id="image-2">
					<img src="images/full/2.jpg" alt="image02" />
					<a href="#page" class="lb-close">x Close</a>
				</div>
			</li>
			<li>
				<a href="#image-3">
					<img src="images/thumbs/3.jpg" alt="image03">
					<span>Plié</span>
				</a>
				<div class="lb-overlay" id="image-3">
					<img src="images/full/3.jpg" alt="image03" />
					<a href="#page" class="lb-close">x Close</a>
				</div>
			</li>
			<li>
				<a href="#image-4">
					<img src="images/thumbs/4.jpg" alt="image04">
					<span>Adagio</span>
				</a>
				<div class="lb-overlay" id="image-4">
					<img src="images/full/4.jpg" alt="image04" />
					<a href="#page" class="lb-close">x Close</a>
				</div>
			</li>
			<li>
				<a href="#image-5">
					<img src="images/thumbs/5.jpg" alt="image05">
					<span>Frappé</span>
				</a>
				<div class="lb-overlay" id="image-5">
							<img src="images/full/5.jpg" alt="image05" />
								<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-6">
							<img src="images/thumbs/6.jpg" alt="image06">
							<span>Glissade</span>
						</a>
						<div class="lb-overlay" id="image-6">
							<img src="images/full/6.jpg" alt="image06" />
		
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-7">
							<img src="images/thumbs/7.jpg" alt="image07">
							<span>Jeté</span>
						</a>
						<div class="lb-overlay" id="image-7">
							<img src="images/full/7.jpg" alt="image07" />
									<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-8">
							<img src="images/thumbs/8.jpg" alt="image08">
							<span>Piqué</span>
						</a>
						<div class="lb-overlay" id="image-8">
							<img src="images/full/8.jpg" alt="image08" />
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-9">
							<img src="images/thumbs/9.jpg" alt="image09">
							<span>Arabesque</span>
						</a>
						<div class="lb-overlay" id="image-9">
							<img src="images/full/9.jpg" alt="image09" />
										<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-10">
							<img src="images/thumbs/10.jpg" alt="image10">
							<span>Ballerina</span>
						</a>
						<div class="lb-overlay" id="image-10">
							<img src="images/full/10.jpg" alt="image10" />

							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-11">
							<img src="images/thumbs/11.jpg" alt="image10">
							<span>Ballerina</span>
						</a>
						<div class="lb-overlay" id="image-11">
							<img src="images/full/11.jpg" alt="image10" />

							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
										<li>
						<a href="#image-12">
							<img src="images/thumbs/12.jpg" alt="image10">
							<span>Ballerina</span>
						</a>
						<div class="lb-overlay" id="image-12">
							<img src="images/full/12.jpg" alt="image10" />
								<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<div class="clear"></div>
				</ul>
			</section>
	<div class="clear"></div>
	<div class="txt_para">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
</div>
</div>	
<div class="f_main">
<div class="f_btm">
<div class="footer">
	<p class="w3-link"><span>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span></p>
</div>
<div class="f-icons">
	<nav>
		<ul>
			<li><a href="#">Get In Touch</a></li>
			<li><a href="#"><img src="images/fb.png" title="facebook" alt=""></a></li>
			<li><a href="#"><img src="images/twitter.png" title="twitter" alt=""></a></li>
			<li><a href="#"><img src="images/feed.png" title="feed" alt=""></a></li>
			<li><a href="#"><img src="images/plus.png" title="pinterest" alt=""></a></li>
			<div class="clear"></div>
		</ul>
	</nav>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>